.student {
  min-width: 720px;
}

.student h1 {
  align-items: center;
  font-size: 42px;
  color: #c9c7c7;
  display: flex;
  grid-gap: 16px;
}

.student form {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  justify-content: flex-end;
}

.student h3 {
  width: 100%;
  color: #c9c7c7;
  padding: 0;
  margin: 0;
  text-align: end;
}

.student form label {
  color: #c9c7c7;
  text-transform: uppercase;
}

.student form input {
  margin: 0 12px;
  color: white;
  border: none;
  padding: 4px 12px;
  height: 24px;
}

.student table {
  width: 100%;
  border: none;
  border-spacing: inherit;
  border-collapse: none;
}

.student table thead th {
  background-color: #c9c7c7;
  text-transform: uppercase;
  color: #222727;
  text-align: center;
  font-size: 20px;
  padding: 4px;
}

.student table tbody td {
  background-color: #c9c7c7;
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  padding: 2px;
}

.student .edit input {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  opacity: 1;
  color: white;
}

.student .edit input::placeholder {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  opacity: 1;
  color: white;
}

.edit, .delete {
  background-color: #c9c7c7;
  padding: 4px;
}

.delete {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit .group-buttons, .delete .group-buttons {
  display: grid;
  grid-template-columns: repeat(2, 100px);
  align-items: center;
  grid-gap: 52px;
} 

.edit > div {
  justify-content: center;
  padding: 12px 0;
  display: flex;
}

.student .delete div label {
  width: fit-content;
  text-align: initial;
  padding-right: 10px;
  font-size: 24px;
}

.student .delete h3 {
  font-size: 24px;
  color: #222727;
}

.student .edit label, .student .delete label {
  width: 200px;
  font-size: 18px;
  font-weight: bold;
  color: #222727;
}

.student .edit input {
  margin: 0 12px;
  background-color: #222727;
  border: none;
  padding: 4px 12px;
}