.student h1 {
  align-items: center;
  font-size: 42px;
  color: #c9c7c7;
  display: flex;
  grid-gap: 16px;
}

.student form {
  padding-bottom: 16px;
}

.student form label {
  color: #c9c7c7;
  text-transform: uppercase;
}

.student form input {
  margin: 0 12px;
  background-color: #c9c7c7;
  border: none;
  padding: 4px 12px;
}

.student table {
  width: 100%;
  border: none;
  border-spacing: inherit;
  border-collapse: none;
}

.student table thead th {
  background-color: #c9c7c7;
  text-transform: uppercase;
  color: #222727;
  text-align: center;
  font-size: 20px;
  padding: 4px;
}

.student table tbody td {
  background-color: #c9c7c7;
  text-transform: capitalize;
  text-align: center;
  font-size: 18px;
  padding: 2px;
}

.student table button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  color: #222727;
}

.student table button:hover {
  transition: all 0.25s linear;
  color: #0F3002;
}
