aside.home {
  margin-left: 20%;
}

img.bgTeacher {
  width: 500px;
  height: 600px;
  transform: scale(1.2);
}

.home label {
  color: rgb(255, 255, 255);
  font-size: 40px;
  width: 50%;
  text-align: left;
}
.home label, .home h2 {
  text-shadow: 1vw 1vw 3vw #000, 0 0 11vw #24ff00, 0 0 4vw #24ff00, 0 0 3vw #24ff00;
}

.home h2 {
  color: rgb(255, 255, 255);
  font-size: 82px;
  width: 50%;
}
