aside.home {
  display: flex;
  place-items: center;
  padding-top: 100px;
  padding-left: 300px;
}

.home label {
  color: rgb(255, 255, 255);
  text-align: left;
  font-size: 40px;
}
.home label,
.home h2 {
  text-shadow: 1vw 1vw 3vw #000, 0 0 11vw #24ff00, 0 0 4vw #24ff00,
    0 0 3vw #24ff00;
}

.home h2 {
  color: rgb(255, 255, 255);
  font-size: 82px;
  width: 400px;
}
