.navbar {
  justify-content: center;
  padding-bottom: 100px;
  padding: 1.6rem 0;
  display: flex;
}

.navbar ul.web-navbar {
  display: flex;
  margin: 0 8px;
  align-items: center;
  justify-content: center;
}

.navbar ul.mobile-navbar {
  display: none;
}

.navbar ul.collapse-true {
  border-top: 1px solid #e2efda;
  padding-top: 12px;
  display: block;
  width: 100%;
}

.navbar ul.collapse-false {
  display: none;
  width: 100%;
  height: fit-content;
  transition: all 0.25s linear;
}

.navbar li {
  margin: 0 12px;
}

.navbar li a {
  color: white;
  text-transform: capitalize;
  font-family: 'Livvic', sans-serif;
  font-weight: 300;
  font-size: 32px;
  cursor: pointer;
}
.navbar li a:hover {
  border-bottom: 3px solid white;
}

.navbar .centered-text {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .navbar {
    display: unset;
    padding: 1.6rem 0;
    padding-bottom: 100px;
  }

  div.navbar ul {
    display: block;
  }
  .navbar ul.web-navbar {
    display: none;
  }
  .navbar ul.mobile-navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  .navbar ul.mobile-navbar div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
