.navbar {
  padding: 2.4rem 0;
  justify-content: center;
  display: flex;
  padding-bottom: 100px;
}

.navbar ul {
  list-style-type: none;
  margin: 0 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar li {
  margin: 0 12px;
}

.navbar li a {
  color: white;
  text-transform: capitalize;
  font-family: 'Livvic', sans-serif;
  font-weight: 300;
  font-size: 32px;
  cursor: pointer;
}
.navbar li a:hover {
  border-bottom: 3px solid white;
}

.navbar .centered-text {
  text-align: center;
}
