.schedule {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.schedule div ul {
  display: inline-grid;
  list-style-type: none;
  padding: 0;
}

.schedule li {
  border: 1px solid #E2EFDA;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding: 8px;
  min-height: 24px;
}

.schedule li.hour,.schedule li.dia {
  background-color: #E2EFDA;
  color: black;
}

.schedule li:hover:not(.dia, .hour) {
  background-color: #E2EFDA;
  font-weight: bold;
  color: black;
  transition: all 0.25s linear;
}

.schedule .schedule-mobile {
  display: none;
}

@media (max-width: 768px) {
  .schedule div {
    display: grid;
    grid-template-columns: repeat(4, auto);
  }
  .schedule .schedule-mobile {
  display: unset;
  }
}
  
@media (max-width: 425px) {
  .schedule li {
    font-size: 16px;
    padding: 4px;
  }
}

@media (max-width: 375px) {
  .schedule li {
    font-size: 14px;
    padding: 4px;
  }
}
