footer {
  background-image: url('../../assets/images/bg_footer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  display: none;
}