@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400&display=swap");

* {
  font-family: "Livvic", sans-serif;
  letter-spacing: 1px;
}

/* body {
  background-image: url("./assets/images/bg_novo_fundo.png");
  background-position: center;
  position: relative;
  height: 100vh;
  margin: 0;
} */

a {
  font-size: 1.5rem;
  color: rgb(241, 235, 235);
  text-decoration: none;
}
